@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
/* font-family: 'Tajawal', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
/* font-family: 'El Messiri', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');
/* font-family: 'Lemonada', cursive; */

body {
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
    background: #fffc00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f9d011, #d4af37);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f9d011, #d4af37);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.menu-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #000000;
    color: #d4af37;
    padding: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.menu-logo {
    line-height: 0;
    margin: 0 20px;
}

.menu-logo img {
    max-height: 50px;
    max-width: 160px;
    flex-shrink: 0;
}

.menu-container a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
}

.menu-container a:hover {
    color: #f9d011;
}

.menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #d4af37;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

.menu-container span:first-child {
    transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
}

.menu-container input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(3px, -1px);
    background: #000000;
}

.menu-container input:checked~span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked~span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 11px);
}

.menu ul {
    list-style: none;
}

.menu li {
    padding: 10px 0;
    font-size: 22px;
}

/* mobile styles */
@media only screen and (max-width: 772px) {
    .menu-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-logo {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .menu-logo img {
        max-height: 35px;
    }

    .menu {
        position: absolute;
        box-sizing: border-box;
        width: 300px;
        left: -300px;
        top: 0;
        margin: -20px;
        padding: 75px 50px 50px;
        background: #d4af37;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translateX(0%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .menu-container input:checked~.menu {
        transform: translateX(100%);
    }
}

/* desktop styles */
@media only screen and (min-width: 773px) {
    .menu-container {
        width: 100%;
    }

    .menu-container a {
        color: #d4af37;
        font-family: 'Tajawal', sans-serif;
        font-size: 22px;
        font-weight: 500;
    }

    .menu-container input {
        display: none;
    }

    /* Burger menu */
    .menu-container span {
        display: none;
    }

    .menu {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu ul {
        display: flex;
        padding: 0;
    }

    .menu li {
        padding: 0 20px;
    }
}

.content{}

.form{
    width: 250px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.form form input{
    border: 3px solid #d3ac2d;
    height: 30px;
    width: 225px;
    padding: 0px 10px;
    border-radius: 50px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    /* border: 5px solid red; */
    justify-content: space-around;
    margin-top: 100px;
}
.Prayers{
    display: flex;
    justify-content: space-between;
    border: 2px outset #ffde73;
    border-radius: 10px;
    width: 320px;
    padding: 15px;
    margin: 10px;
    font-weight: 500;
    font-family: 'Tajawal', sans-serif;
    /* font-size: 20px; */
    /* font-family: 'El Messiri', sans-serif; */
    font-family: 'Lemonada', cursive;
}

.times{
    color: white;
}